/* 7.0 - only fixes */
/* content area */ 
/* workaround for various ie float bugs */

/* This bit is needed to make links clickable... WTF */
#column-content #content {
/* 2006-08-08 Wzl: these are no longer necessary with the table-based layout, but need to test */
/*	margin-left: 12.2em;
	margin-top: 3em; */
	height: 1%;
}

.rtl #column-one {
	/* For some reason it tries to inherit the padding-top into every div,
	 * and I can't figure out how to get it back off.
	 */
	padding-top: 0;
}
.rtl #column-one #p-navigation {
	margin-top: 160px;
}

/* the tabs */

#p-cactions {
	z-index: 3;
}


#p-cactions li {
	padding-bottom: 0 !important;
	border: none;
	background-color: transparent;
	cursor: default;
	float: none !important;
}

#p-cactions li a {
	display: inline-block !important;
	vertical-align: top;
	padding-bottom: 0;
	border: solid #aaa;
	border-width: 1px 1px 0;
}
#p-cactions li.selected a {
	border-color: #fabd23;
	padding-bottom: 0.17em;
}
#p-cactions li a:hover {
	padding-bottom: 0.17em;
}
#p-navigation a {
	display: inline-block;
	width: 100%;
}
#portal-personaltools {
	padding-bottom: 0.1em;
}
textarea {
	width: 96%;
}

/*
div.editsection,
#catlinks,
div.tright,
div.tleft {
	position: relative;
}
*/


#footer li {
	/* Work around bug with inline <li> tags with right margins and nowrap */
	margin-right: 0;
}
